*{
    margin:0;
}

.custom-footer {
    @apply relative top-[100px] bg-[#232F3E]
}
footer .footer_container{
    @apply text-white flex justify-evenly items-start px-[120px] py-[30px];
}

footer .div_footer .footer_detail_two{
    @apply flex justify-evenly text-white px-[180px]
}

footer .div_footer .footer_detail_two .f_detail_t p{
    @apply text-left text-[10px]
}

footer .footer_container .footr_details_one h3{
    @apply text-left text-[15px] font-semibold 
}

footer .footer_container .footr_details_one p{
    @apply my-[9px] text-[12px] text-left cursor-pointer
}

footer .div_footer {
@apply h-[30vh] pt-[30px] bg-[#131A22] 
}

footer .div_footer .footerx{
    @apply pt-[50px]
    }

footer div .btn_color{
   @apply bg-[#232F3E] text-white mx-[5px] px-[5px] border
}

footer .topborder{
    border-top: 0.1px solid #8e8d8d;
    background-color: #232F3E;
    @apply flex justify-center items-center
}


footer img{
    @apply w-[80px] pr-[50px]
}

footer p{
   @apply text-white text-[12px] text-center tracking-tight
}
.f_detail_t p:first-child{
    @apply font-bold
}


@media (max-width:700px){
    .footer_container .forres{
        display: none;
    }
   
}
@media (max-width:500px){
    .footer_container .forres{
        display: none;
    }
}
